.DS_Store
autostart
*.log
cef_user_data
chromium
Cache
Code
darktable
discord
enchant
eog
evolution
filezilla
ghb
GIMP
GitKraken
heroic
JetBrains
Mailspring
milkytracker
monitors.xml
pulse
Renoise
retroarch
Slack
spotify
steamtinkerlaunch
vlc
uGet/category
BlueMail
cmst
docker
browsh
dconf
XaoS*
micro/backups
micro/buffers
nix-data
dconf/user
asciinema/
configstore/
spotify-tui/
spotifyd/
Unknown\ Organization/
QtProject.conf
zoom.conf
Pennywise/
libreoffice
lutris/
systemd/
RescueTime.com/
irb/
erl_observer/
kitty/
Bitcoin/
polychromatic/states
polychromatic/devices
zed/.tmp*
zed/embeddings
github-copilot/
refract/
zed/conversations
zed/prompts
gpt4all.io
